.menu {
    width: 100%;
}

.menu li {
    display: inline-block;
    width: calc(100% / 9);
    outline: 1px solid red;
    text-transform: uppercase;
}

.servicos {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.servico {
    width: 20%;
    outline: 1px solid red;
}

.servico img {
    /* display: block; */
    width: 60px;
}