* {
  font-family: sans-serif;
}

body{
    margin: 0;
}


.menu {
    width: 100%;
    background: #082E5C;
    margin: 0px;
    font-size: 20px;
    text-align:center;
 
    
   
}

.menu li {
    display: inline-block;
    width: calc(120% / 10);
    text-transform: uppercase;
    font-weight:bold;
    margin-bottom:30px;
    margin-top: 30px;
    margin-left:1px;
}

.menu a{
	color:#FFFF;
	font-size: 12px;
	font-weight: bold;
    text-decoration: none;
}


.menu1{
	color:#082E5C;
}

.TEXTOINDICAÇÃO{
	color:#FFFF;
	font-size: 8px;
	font-weight: bold;
	background: #082E5C;
	font-weight:bold;
	padding:5px 5px;
	margin-bottom:90px;
	margin-top: 90px;
	margin-left:150px;
	width: 12%;
	text-align:center;
}

.servicos {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
    text-align:justify;
    margin-bottom:90px;
	margin-top: 80px;
	margin-left:150px;
}

.servico {
    width: 20%;
    padding:15px 15px;
    font-size: 10px;
    margin: 0 auto;
    text-align:center;
    margin-bottom:20px;
	margin-top: 4px;
	margin-left:4px;
	font-weight: bold;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.servico img {
    /* display: block; */
    width: 30px;
    height: 30px;
}
.globalh1{
  font-size: 5px;
  color: #666666;
  font-weight: bold;
  text-align: left;
  margin-left:3px;
}

.servico p{
    text-align:justify;
    margin-bottom:25px;
    flex:1 0 auto;
}

.servico a {
  background: #DBE3F1;
  color:#082E5C;
  font-weight:bold;
  padding:10px 20px;
  border-radius: 35px;}
